@require 'styles'
@require 'fonts'

button
  cursor: pointer
  border: 0
  outline: none
  text-align: center
  background: none
  box-sizing: border-box
  background-repeat: no-repeat

.hrefBtn
  color: #8FB23E
  margin: 4px
  height: 1.5em

.hrefBtn:hover
  color: #759A21

.largeBtn, .mediumBtn, .wiredBtn, .backBtn 
  height: 40px
  fb()

.largeBtn, .mediumBtn, .smallBtn
  color: #ffffff

.largeBtn, .mediumBtn, .fullAddressBtn, .wiredBtn
  &:hover
    shadow(5px, 5px, #B5B5B5)

.largeBtn
  width: 232px
  background: url('../img/green_button_large.svg')
  &:active
    background: url('../img/green_button_large_active.svg')
  &:disabled
    background: url('../img/green_button_large_disabled.svg')
    noshadow()

.mediumBtn
  width: 160px
  background: url('../img/btn_160_40_green.svg')
  &:active
    background: url('../img/btn_160_40_dark_green.svg')
  &:disabled
    background: url('../img/btn_160_40_light_green.svg')
    noshadow()

.wiredBtn
  color: #8FB23E
  width: 232px
  height: 40px
  background: url('../img/wired_button_light.svg')
  &:active
    color: #759A21
    background: url('../img/wired_button_dark.svg')

.fullAddressBtn
  color: #81827F
  width: 232px
  height: 40px
  padding-left:  1em
  padding-right:  1em
  background: url('../img/full_address.svg')
  text-overflow: ellipsis
  overflow: hidden

.smallAddressBtn
  width: 88px 
  height: 16px
  line-height: 15px
  padding: 0 4px 0 2px
  color: #4D4F4E
  background: url('../img/address_small.svg')
  overflow: hidden
  &:active
    background: url('../img/address_small.svg')
  &:hover
    shadow(3px, 3px, #666666)

.fullAddressBtn, .smallAddressBtn
  fa()

.backBtn
  cursor: pointer
  width: 60px
  height: 19px
  margin-bottom: 64px
  margin-top: 0
  padding: 0
  text-align: right
  color: #8FB23E
  background: url('../img/back_arrow_light.svg')
  background-position: -1px -3px
  background-repeat: no-repeat
  &:hover
    color: #759A21
    background: url('../img/back_arrow_dark.svg')
    background-position: -1px -3px
    background-repeat: no-repeat
  &[disabled]
    visibility: hidden

.smallBtn
  color: #fff
  width: 64px
  height: 23px
  padding: 0
  fbs()
  background: url('../img/button_small.svg')
  &:active
    background: url('../img/button_small_dark.svg')
  &:hover
    shadow(2px, 2px, #B5B5B5)

.closeBtn, .settingsBtn, .menuBtn, .backBtnWhite
  width: 24px
  height: 24px

.closeBtnSmall, .editBtn, .copySeedBtn, .refreshSeedBtn
  width: 16px
  height: 16px

.closeBtn
  background: url('../img/close_menu_1.svg')

.settingsBtn
  background: url('../img/settings_icon.svg')

.menuBtn
  background: url('../img/menu_icon.svg')

.closeBtnSmall
  background: url('../img/close_menu.svg')
  box-sizing: border-box
  background-size: contain

.backBtnWhite
  background: url('../img/back_white.svg')

.editBtn
  background: url('../img/edit.svg')

.copySeedBtn
  background: url('../img/copy_seed.svg')

.refreshSeedBtn
  background: url('../img/refresh.svg')

.validateInput input+button
  position: absolute
  margin: 12px 76px 12px 12px
  width: 16px
  height: 16px
  padding: 0
  right: 0

.validInput input+.eyeButton
  background: url('../img/eye_closed_green.svg')

.invalidInput input+.eyeButton
  background: url('../img/eye_closed_red.svg')

.semivalidInput input+.eyeButton
  background: url('../img/eye_closed_yellow.svg')

.validInput input[type=password]+.eyeButton
  background: url('../img/eye_open_green.svg')

.invalidInput input[type=password]+.eyeButton
  background: url('../img/eye_open_red.svg')

.semivalidInput input[type=password]+.eyeButton
  background: url('../img/eye_open_yellow.svg')
