.checkboxDiv
  box-sizing: border-box
  width: 232px
  margin: 0
  input[type="checkbox"] 
    opacity: 0;
    content: none;
    width: 0
    height: 0
  label
    cursor: pointer
    position: relative
    display: table-cell
    vertical-align: middle
    padding-left: 40px
    min-height: 24px
    &::before
      cursor: pointer
      content: ''
      width: 24px
      height: 24px
      background: url('../img/checkbox_unchecked.svg')
      position: absolute
      top: calc(50% - 12px)
      left: 0
  input[type="checkbox"]:checked + label::before 
    background: url('../img/checkbox_checked.svg')
