.copiedSpan
  display: block
  position: relative
  left: 0
  right: 0
  margin: auto
  color: #4D4F4E
  font-size: 10px
  width: 88px
  height: 16px
  background: #BCD18B
  line-height: 16px
  text-align: center

.copiedDiv
  display: none
  position: absolute
  left: 0
  right: 0
  margin: auto
  padding-top: 7px
  pointer-events: none

.profileInfo .copiedDiv
  left: -97px


button:active + .copiedDiv
  display: block

.settingsList li:active + .copiedDiv
  display: block
  margin-top: -25px

