@font-face
  font-family: 'Gloria Hallelujah'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: local('Gloria Hallelujah'), local('GloriaHallelujah'), url('../fonts/LYjYdHv3kUk9BMV96EIswT9DIbW-MIS11zY.ttf') format('truetype')

@font-face
  font-family: 'Nunito'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: local('Nunito Regular'), local('Nunito-Regular'), url('../fonts/XRXV3I6Li01BKofINeaE.ttf') format('truetype')

h1 // Header1
  font-family: Nunito
  font-style: normal
  font-weight: bold
  font-size: 20px
  line-height: 135%

.f2 // Header2 (also some editable elements => class)
  font-family: Nunito
  font-style: normal
  font-weight: bold
  font-size: 16px
  line-height: 100%

h3 // Header3 (only static, as header)
  font-family: Nunito
  font-style: normal
  font-weight: bold
  font-size: 14px
  line-height: 16px

fb() // Font Button
  font-family: Nunito
  font-style: normal
  font-weight: 600
  font-size: 14px
  line-height: 20px

fbs() //Font Button Small
  font-family: Nunito
  font-style: normal
  font-weight: bold
  font-size: 10px
  line-height: 12px

.ffn // Font Form Name
  font-family: Nunito
  font-style: normal
  font-weight: bold
  font-size: 12px
  line-height: 16px

ffnm() // Font Form Name Mini
  font-family: Nunito
  font-style: normal
  font-weight: bold
  font-size: 12px
  line-height: 16px

fts() // Font Text Simple
  font-family: Nunito
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 15px

fa() // Font Address
  font-family: Nunito
  font-style: normal
  font-weight: normal
  font-size: 10px
  line-height: 15px

fgt() // F#gg*t
  font-family: Gloria Hallelujah
  font-style: normal
  font-weight: normal
  font-size: 32px
  line-height: 100%
  color: #8FB23E

ftt() // Font TransactionView Type
  font-family: Nunito
  font-style: normal
  font-weight: 600
  font-size: 10px
  line-height: 135%
