@require 'styles'

.copiedSpan
  display: none
 
.smallAddressBtn:active + .copiedSpan
  display: block
  position: absolute
  color: #4D4F4E
  font-size: 10px
  width: 88px
  height: 16px
  top: 60px
  background: #BCD18B
  line-height: 16px
  text-align: center

.homeScreen
  screen()
  padding: 16px
  background: url('../img/homa_cropped.svg')
  background-repeat: no-repeat
  background-position: 50% 4px
  background-size: 80px 80px

  .homeHeader
    width: 100%
    display: flex
    margin-bottom: 16px
    justify-content: space-between
    align-items: flex-start

  .profileInfo
    shadow(5px, 5px, #BBBBBB)
    width: 100%
    min-width: 328px
    height: 72px
    min-height: 72px
    background: url('../img/bg_small.svg')
    box-sizing: border-box
    background-size: contain
    background-repeat: no-repeat
    padding: 16px 8px 16px 16px
    z-index: 2
    display: flex
    flex-direction: row
    .imgWrap
      margin-top: 32px
      margin-bottom: 10px

    .dd-wrapper
      width: 120px
      height: 24px
      font-family: Nunito
      font-style: normal
      font-weight: bold
      font-size: 14px
      line-height: 16px

    .dd-header, .dd-header-expanded
      cursor: pointer
      height: 100%
      width: 100%
      background-image: url('../img/dd_underline_small.svg')
      background-repeat: no-repeat
      background-size: 100%
      background-position: 0 22px

    .dd-trigger
      width: 24px
      min-width: 24px
      height: 24px
      background: url('../img/arrow_down_white.svg')
      background-repeat: no-repeat
      background-size: 13px 8px
      background-position: 5.5px 8px

    .dd-list 
      background-color: #ffffff

    .dd-header-expanded
      color: #81827F
      background-color: #ffffff
      .dd-header-title
        color: #81827F
      .dd-trigger
        width: 24px
        height: 24px
        background: url('../img/arrow_down_gray.svg')
        background-repeat: no-repeat
        background-size: 13px 8px
        background-position: 5.5px 8px

    .dd-header-title
      color: #FFFFFF
      padding-top:4px
      padding-left: 10px

    .dd-list-item
      background-color: #ffffff
      padding-top:4px
      padding-left: 10px
      height: 24px
      background-image: url('../img/dd_underline_small.svg')
      background-repeat: no-repeat
      background-size: 124px 3px
      background-position: 0 22px

    .avatarDiv
      padding-right: 16px
    .accountDiv
      margin-top: -15px
      color: #ffffff
      width: 114px
      display: flex
      flex-direction: column
      .nameInUseSpan
        color: #a73132
        fa()
        visibility: hidden

      .accountNameDiv
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: baseline
        padding-right: 8px
        margin-bottom: 3px
    .accountDiv.invalidInput .nameInUseSpan
      visibility: visible
    .spacerDiv
      content: ''
      width: 2px
      height: 100%
      background: url('../img/info_spacer.svg')
      background-size: contain
    .balanceDiv
      flex-grow: 1
      padding-left: 14px
      padding-top: 4px
      .balanceText
        padding-left: 10px
        width: 100%
        color: #ffffff
        display: flex
  .currencyDiv
    .dd-wrapper
      color: #81827F
      background-color: #ffffff
      width: 184px
      height: 24px
      font-family: Nunito
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 100%

    .dd-header, .dd-header-expanded
      cursor: pointer
      height: 100%
      width: 100%
      background-image: url('../img/dd_underline_medium.svg')
      background-repeat: no-repeat
      background-size: 100%
      background-position: 0 22px

    .dd-trigger
      width: 24px
      min-width: 24px
      height: 24px
      background: url('../img/arrow_down_olive.svg')
      background-repeat: no-repeat
      background-size: 13px 8px
      background-position: 5.5px 8px

    .dd-header-title
      padding-top:4px
      padding-left: 10px

    .dd-list-item
      background-color: #ffffff
      padding-top:4px
      padding-left: 10px
      height: 24px
      background-image: url('../img/dd_underline_medium.svg')
      background-repeat: no-repeat
      background-size: 100%
      background-position: 0 22px

