@require 'fonts'
@require 'welcomeBack'
@require 'password'
@require 'inputs'
@require 'checkbox'
@require 'welcome'
@require 'register'
@require 'home'
@require 'sendTab'
@require 'transactionsTab'
@require 'issueTab'
@require 'tabSelector'
@require 'popup'
@require 'menus'
