@require 'styles'
@require 'inputs'

.passwordScreen
  screen()

  .imgWrap
    margin-top: 72px
    margin-bottom: 28px

  #requestDiv
    color: #8FB23E
    margin: 5px

  #accountName
    margin: 14.5px

  .largeBtn
    margin: 10px

