.overlay
  position: fixed
  z-index: 3
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: rgba(143, 178, 62, 0.85)
  padding-top: 223px

.popup
  box-sizing: border-box
  height: 184px
  width: 296px
  max-width: 296px
  max-height: 184px
  position: fixed
  left: 0
  right: 0
  margin: 0 auto
  background: url('../img/popup.svg')
  background-repeat: no-repeat
  background-size: 302px 190px
  background-position: -3px 0
  text-align: center
  padding: 41px 20px 26px 20px
  .closeBtnSmall
    position: absolute
    right: 12px
    top: 13px

  .greeting
    color: #8FB23E
    margin-bottom: 15px
