.sendTab
  tab()
  .currencyDiv
    display: flex
    align-items: baseline
    justify-content: space-between
    flex-grow: 1
    .dd-wrapper
      width: 184px
      margin-top: 46px
  .mediumBtn
    margin-bottom: 69px
  .validateInputMax
    margin-bottom: 22px
    margin-top: 20px
