@require 'styles'
@require 'buttons'

.welcomeScreen
  screen()

  .imgWrap
    margin-bottom: 0
    margin-top: 71px


  .greeting
    margin: 32px

  .largeBtn
    margin: 18px

  .wiredBtn
    margin: 7px
