@require 'styles'
@require 'buttons'

.welcomeScreen
  screen()

  .imgWrap
    margin-bottom: 0
    margin-top: 71px


  .greeting
    margin: 32px
    flex-grow: 1

  .largeBtn
    margin: 18px

  .wiredBtn
    margin-top: 7px
    margin-bottom: 64px
