@require 'styles'
@require 'dropdown'
@require 'buttons'
@require 'fonts'

.welcomeBackScreen
  screen()
  
  .imgWrap
    margin-top: 32px
    margin-bottom: 10px

  .dd-wrapper
    width: 232px
    height: 38px
    margin-top: 43px

  .dd-header, .dd-header-expanded
    cursor: pointer
    height: 100%
    background-image: url('../img/underline_dd.svg')
    background-repeat: no-repeat
    background-size: 100%
    background-position: 0 36px

  .dd-header-title
    padding-left: 1em
    padding-top: 1.5em

  .dd-trigger
    width: 24px
    height: 24px
    background-color: rgba(143, 178, 62, 0.2)
    margin: .5em

  .dd-list
    background-color: #ffffff

  .dd-list-item
    height: 38px
    padding-top: 10px
    padding-bottom: 4px
    background-image: url('../img/underline_dd.svg')
    background-repeat: no-repeat
    background-size: 100%
    background-position: 0 36px

  .dd-background-div
    height: 100%
    width: 100%
    padding-left: 1em
    padding-top: 8px;
    &:hover
      background-color: rgba(143, 178, 62, 0.2)

  .largeBtn
    margin-top: 35.5px
    margin-bottom: 79px

  a
    fb()
    color: #8FB23E
    text-decoration: none
    line-height: 2em
