.dd-wrapper
  color: #81827F
  text-align: left
  vertical-align: middle
  position: relative
  width: 100%
  cursor: pointer
  z-index: 10

.dd-list 
  position: absolute
  width: 100%
  background: white

.dd-list-item 
  position: relative
  min-height: 18px
  padding: 5px 10px 6px
  line-height: 16px

.dd-header
  display: flex

.dd-trigger 
  content: ' '
  transform: scaleY(-1) rotateX(180deg)
  transition: 0.2s
  background: url("../img/arrow_down_gray.svg")
  background-size: 13px 7px
  background-repeat: no-repeat
  background-position: center

.dd-header-expanded .dd-trigger 
  transform: rotateX(180deg)
  background: url("../img/arrow_down_gray.svg")
  background-size: contain

.dd-header-title
  box-sizing: border-box
  height: 100%
  width: 100%
  cursor: pointer
  bottom:0
  top:0
  left:0
  right:0
