@require 'checkbox'
@require 'styles'

.registerScreen
  screen()
  .imgWrap
    margin-top: 8px
    margin-bottom: 0
  .imgWrapBarn
    margin-top: 32px
    margin-bottom: 28
  .validateInput
    margin: 0px
  .registrationControls
    display: flex
    align-items: center
    flex-direction: column
    width: 100%
    .largeBtn
      margin-top: 18px
      margin-bottom: 18px
  .addressParams
    width: 100%
    margin-top: 20px
  .greeting
    text-align: center
    flex-grow: 1
  #textButtons
    display: flex
    width: 100%
    justify-content: flex-end
    margin-bottom: 8px
    img
      cursor: pointer
      width: 16px
      height: 16px
      margin-left: 16px
  h1, strong
    color: #8FB23E
  #descriptionDiv
    flex-grow: 1
    width: 101%
