@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Gloria Hallelujah'), local('GloriaHallelujah'), url(https://fonts.gstatic.com/s/gloriahallelujah/v11/LYjYdHv3kUk9BMV96EIswT9DIbW-MIS11zY.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v12/XRXV3I6Li01BKofINeaE.ttf) format('truetype');
}
body {
  font-family: 'Nunito', sans-serif;
  position: relative;
  min-width: 400px;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}
.container {
  max-width: 360px;
  margin: 0 auto;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container-p {
  padding: 15px;
}
a {
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  color: #fff;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
ul,
li {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}
input,
button {
  border: none;
  background: transparent;
  outline: none;
}
input[type='password'] {
  font-size: 20px !important;
  letter-spacing: 2px;
}
h4.subtitle {
  color: #8FB23E;
  font-size: 20px;
  margin-bottom: 21px;
}
h4.subtitle + p {
  font-size: 12px;
  line-height: 16px;
  color: #63665C;
  margin-bottom: 20px;
}
h4.subtitle + p .green-note {
  color: #8FB23E;
}
.note {
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: normal;
  font-size: 32px;
  text-align: center;
  color: #8FB23E;
  margin-bottom: 50px;
}
.img-wrap {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 32px;
}
.button {
  display: block;
  width: 232px;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-size: cover;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
strong {
  font-family: Nunito;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #8FB23E;
  display: block;
  margin-bottom: 4px;
}
.green-button {
  background-image: url("./img/ui/button_big_fill_green.png");
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.green-button:hover {
  background-image: url("./img/ui/button_big_fill_dark_green.png");
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.green-button:active {
  background-image: url("./img/ui/button_big_fill_dark_green.png");
}
.green-bord {
  background-image: url("./img/ui/button_big_stroke_green.png");
  color: #8FB23E;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.green-bord:hover {
  background-image: url("./img/ui/button_big_stroke_dark_green.png");
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #759a21;
}
.green-bord:active {
  background-image: url("./img/ui/button_big_stroke_dark_green.png");
}
.buttons {
  text-align: center;
}
.buttons .continue {
  margin-bottom: 18px;
}
.buttons .continue:disabled {
  background-image: url("./img/ui/button_big_fill_light_green.png");
}
.back {
  color: #8FB23E;
  position: relative;
  top: -7px;
}
.back img:nth-child(2) {
  display: none;
}
.back img:nth-child(1) {
  display: inline-block;
}
.back img {
  max-width: 24px;
  position: relative;
  top: 7px;
  margin-right: 4px;
}
.back:hover,
.back:active {
  color: #759a21;
}
.back:hover img:nth-child(1),
.back:active img:nth-child(1) {
  display: none;
}
.back:hover img:nth-child(2),
.back:active img:nth-child(2) {
  display: inline-block;
}
.back:hover img,
.back:active img {
  position: relative;
  left: -3px;
}
.screen form {
  max-width: 232px;
  margin: 0 auto;
}
.screen {
  width: 100%;
}
.screen .menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 14px;
}
.screen .menu a {
  max-width: 24px;
}
.screen .menu a img {
  max-width: 100%;
}
.screen .menu .menu-button img:nth-of-type(1) {
  display: block;
}
.screen .menu .menu-button img:nth-of-type(2) {
  display: none;
}
.screen .menu .menu-button.active img:nth-of-type(1) {
  display: none;
}
.screen .menu .menu-button.active img:nth-of-type(2) {
  display: block;
}
.screen .wrap-content .menu-block,
.screen .wrap-content .settings-block {
  display: none;
  width: 100%;
  height: 94%;
  position: absolute;
  top: 40px;
  background: url(./img/ui/bg-modal.png);
  background-size: 100% 100%;
  background-position: center;
  z-index: 11;
}
.screen .wrap-content .menu-block .menu-title,
.screen .wrap-content .settings-block .menu-title {
  color: #fff;
  position: relative;
  margin-top: 15px;
}
.screen .wrap-content .menu-block .menu-title .back,
.screen .wrap-content .settings-block .menu-title .back {
  position: absolute;
  left: 33px;
  top: 6px;
  height: 24px;
}
.screen .wrap-content .menu-block .menu-title .back img,
.screen .wrap-content .settings-block .menu-title .back img {
  top: -4px;
}
.screen .wrap-content .menu-block .menu-title .back:hover img:nth-child(1),
.screen .wrap-content .settings-block .menu-title .back:hover img:nth-child(1) {
  display: inline-block;
}
.screen .wrap-content .menu-block.active {
  display: block;
}
.screen .wrap-content .menu-block.active .menu-title {
  margin-bottom: 32px;
}
.screen .wrap-content .menu-block.active p {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  padding-left: 32px;
  line-height: 135%;
  margin: 0;
  margin-bottom: 5px;
}
.screen .wrap-content .menu-block.active .documents {
  margin-top: 72px;
  padding-left: 32px;
}
.screen .wrap-content .menu-block.active .documents .menu-title {
  margin-bottom: 23px;
}
.screen .wrap-content .menu-block.active .documents ul {
  padding: 0;
}
.screen .wrap-content .menu-block.active .documents ul li {
  list-style: none;
  margin-bottom: 12px;
}
.screen .wrap-content .menu-block.active .documents ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.screen .wrap-content .menu-block.active .documents ul li a:hover,
.screen .wrap-content .menu-block.active .documents ul li a:active {
  text-decoration: underline;
}
.screen .wrap-content .menu-block.active .submenu {
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  bottom: 29px;
  width: 100%;
}
.screen .wrap-content .menu-block.active .submenu ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.screen .wrap-content .menu-block.active .submenu ul li a:hover,
.screen .wrap-content .menu-block.active .submenu ul li a:active {
  text-decoration: underline;
}
.screen .wrap-content .settings-block.active {
  display: block;
}
.screen .wrap-content .settings-block.active .menu-title {
  margin-bottom: 25px;
}
.screen .wrap-content .settings-block.active .set-link {
  padding: 0 16px;
  position: relative;
}
.screen .wrap-content .settings-block.active .set-link ul li a {
  display: block;
  height: 48px;
  width: 100%;
  line-height: 48px;
  padding: 0 16px;
  font-weight: bold;
  font-size: 20px;
  color: #FFF;
}
.screen .wrap-content .settings-block.active .set-link ul li a img {
  max-width: 16px;
  margin-right: 16px;
}
.screen .wrap-content .settings-block.active .set-link ul li a:hover,
.screen .wrap-content .settings-block.active .set-link ul li a:active {
  background: #A0BE5B;
}
.screen .wrap-content .settings-block.active .set-link .agree-del.active {
  display: block;
}
.screen .wrap-content .settings-block.active .set-link .agree-del {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  display: none;
}
.screen .wrap-content .settings-block.active .set-link .agree-del .menu-title {
  color: #8FB23E;
  margin-top: 38px;
  margin-bottom: 18px;
}
.screen .wrap-content .settings-block.active .set-link .agree-del .delete {
  display: block;
  height: 40px;
  max-width: 160px;
  width: 100%;
  margin: 0 auto;
  background: url(./img/ui/btn_160_40_green.png);
  background-size: contain;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.screen-1 .img-wrap,
.screen-7 .img-wrap {
  position: relative;
  text-align: center;
  margin: 75px 0 28px;
}
.screen-1 .img-wrap img,
.screen-7 .img-wrap img {
  max-width: 248px;
}
.screen-1 .buttons,
.screen-7 .buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.screen-1 .buttons .green-button,
.screen-7 .buttons .green-button {
  margin-bottom: 24px;
}
.screen-7 .img-wrap {
  margin: 40px auto 47px;
}
.screen-2 .img-wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 80px;
}
.screen-2 form .field {
  margin-bottom: 20px;
}
.screen-2 form .field input {
  background-image: url("./img/ui/form_inactive.png");
  background-size: cover;
  width: 232px;
  height: 40px;
  padding-left: 12px;
  font-size: 12px;
}
.screen-2 form .field .error {
  display: none;
}
.screen-2 form .field input:required:valid,
.screen-2 form .field input:active,
.screen-2 form .field input:focus {
  background-image: url("./img/ui/form_active.png");
}
.screen-2 form .field input.valid {
  background-image: url("./img/ui/form_active.png");
  color: #8FB23E;
}
.screen-2 form .field input.wrong {
  background-image: url("./img/ui/form_wrong.png");
  color: #E17373;
}
.screen-2 form .field input.wrong + .error {
  display: block;
  color: #E17373;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  margin: 4px 0 0 0;
}
.screen-2 .agree {
  color: #81827F;
  margin-bottom: 30px;
}
.screen-2 .agree input {
  display: none;
}
.screen-2 .agree label {
  padding-left: 40px;
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 16px;
}
.screen-2 .agree label a {
  color: #8FB23E;
  text-decoration: underline;
  font-size: 12px;
  line-height: 16px;
}
.screen-2 .agree label:before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background: url("./img/ui/box_empty_grey.png");
  background-size: cover;
  position: absolute;
  left: 0;
}
.screen-2 .agree input:checked + label:before {
  background: url("./img/ui/check_box_full.png");
  background-size: cover;
}
.screen-5 .img-wrap,
.screen-6 .img-wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 80px;
}
.screen-5 form .buttons-area,
.screen-6 form .buttons-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 8px;
}
.screen-5 form .buttons-area a img,
.screen-6 form .buttons-area a img {
  max-width: 16px;
}
.screen-5 form .buttons-area .refresh,
.screen-6 form .buttons-area .refresh {
  margin-right: 16px;
}
.screen-5 form #phrase,
.screen-6 form #phrase {
  border: none;
  resize: none;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #81827F;
  max-width: 232px;
  width: 100%;
  height: 80px;
  padding: 19px 28px 13px;
  background-image: url("./img/ui/seed.png");
  background-size: cover;
  margin-bottom: 20px;
}
.screen-5 form .link,
.screen-6 form .link {
  background-image: url("./img/ui/form_bg.png");
  background-size: cover;
  height: 40px;
  max-width: 232px;
  width: 100%;
  display: block;
  line-height: 44px;
  font-size: 10px;
  color: #63665C;
  padding: 0 18px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  margin-bottom: 24px;
}
.screen-5 form .link:disabled,
.screen-6 form .link:disabled {
  color: #81827F;
}
.screen-6 form .buttons-area {
  visibility: hidden;
}
.screen-transaction {
  position: relative;
  width: 100%;
}
.screen-transaction .img-wrap {
  margin: 0;
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  max-width: 70px;
}
.screen-transaction .info-profile {
  padding: 15px 20px;
  background-image: url("./img/ui/bg_small.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -8px;
  margin-right: -8px;
}
.screen-transaction .info-profile .left-part {
  max-width: 170px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.screen-transaction .info-profile .left-part .img-wrap-ava .avatar {
  display: block;
  max-width: 40px;
  margin-right: 16px;
}
.screen-transaction .info-profile .left-part .text-wrap h5 {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 4px;
}
.screen-transaction .info-profile .left-part .text-wrap .link-info {
  max-width: 88px;
  height: 16px;
  font-size: 10px;
  color: #4D4F4E;
  overflow: hidden;
  display: block;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  background-image: url("./img/ui/bg_88_green_adress.png");
  background-size: cover;
  line-height: 16px;
  padding-left: 4px;
}
.screen-transaction .info-profile .left-part .text-wrap .link-info + .link-copied {
  display: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.screen-transaction .info-profile .left-part .text-wrap .link-info:active {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.screen-transaction .info-profile .left-part .text-wrap .link-info:active + .link-copied {
  position: absolute;
  color: #4D4F4E;
  font-size: 10px;
  display: block;
  width: 88px;
  height: 16px;
  background: url('./img/ui/bg_88_16_green_copied.png');
  background-size: contain;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  line-height: 16px;
  text-align: center;
  margin-top: 5px;
}
.screen-transaction .info-profile .left-part .text-wrap .edit-profile-name {
  max-width: 16px;
  display: block;
  margin-left: 12px;
}
.screen-transaction .info-profile .left-part:after {
  content: "";
  display: block;
  width: 2px;
  height: 90%;
  background: url(./img/ui/line_40_2.png);
  position: absolute;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
}
.screen-transaction .info-profile .right-part {
  max-width: 135px;
  width: 100%;
  padding-left: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.screen-transaction .info-profile .right-part h5 {
  color: #fff;
  font-size: 12px;
  margin-bottom: 5px;
  text-align: left;
  padding-left: 10px;
}
.screen-transaction .info-profile .right-part select {
  color: #81827F;
  font-weight: bold;
  font-size: 14px;
  background: #fff;
  border: 0;
  padding: 3px 10px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: none;
}
.screen-transaction .info-profile .right-part select option {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #81827F;
  font-weight: bold;
  font-size: 14px;
}
.screen-transaction .info-profile .right-part .jq-selectbox__select {
  border-radius: 0;
  background: transparent;
  border: 0;
  text-shadow: none;
  font-family: 'Nunito', sans-serif;
  padding: 0 20px 0 10px;
  height: 25px;
  line-height: 25px;
  -webkit-box-shadow: none;
          box-shadow: none;
  max-width: 120px;
}
.screen-transaction .info-profile .right-part .jq-selectbox__select .jq-selectbox__select-text {
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
}
.screen-transaction .info-profile .right-part .jq-selectbox__select .jq-selectbox__trigger {
  border: 0;
}
.screen-transaction .info-profile .right-part .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
  background: url("./img/ui/select-arrow-w.png");
  background-size: contain;
  width: 14px;
  height: 8px;
  top: 8px;
  border: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.screen-transaction .info-profile .right-part .jq-selectbox__select:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -2px;
  width: 103%;
  height: 2px;
  background: url("./img/ui/select_underline.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.screen-transaction .info-profile .right-part .jq-selectbox.opened .jq-selectbox__select {
  background: #eff1ee;
  background: -webkit-gradient(linear, left bottom, left top, from(#eff1ee), color-stop(5%, #eff1ee), color-stop(15%, #ffffff), color-stop(85%, #ffffff), color-stop(95%, #eff1ee), to(#eff1ee));
  background: -o-linear-gradient(bottom, #eff1ee 0%, #eff1ee 5%, #ffffff 15%, #ffffff 85%, #eff1ee 95%, #eff1ee 100%);
  background: linear-gradient(0deg, #eff1ee 0%, #eff1ee 5%, #ffffff 15%, #ffffff 85%, #eff1ee 95%, #eff1ee 100%);
}
.screen-transaction .info-profile .right-part .jq-selectbox.opened .jq-selectbox__select .jq-selectbox__select-text {
  color: #81827F;
}
.screen-transaction .info-profile .right-part .jq-selectbox.opened .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
  background: url("./img/ui/select-arrow.png");
  background-size: contain;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.screen-transaction .info-profile .right-part .jq-selectbox__dropdown {
  border-radius: 0;
  font-family: 'Nunito', sans-serif;
  top: 23px;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 120px;
}
.screen-transaction .info-profile .right-part .jq-selectbox__dropdown ul {
  overflow: unset;
}
.screen-transaction .info-profile .right-part .jq-selectbox__dropdown li,
.screen-transaction .info-profile .right-part .jq-selectbox__dropdown li:hover {
  background: #fff;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #81827F;
  background: #eff1ee;
  background: -webkit-gradient(linear, left bottom, left top, from(#eff1ee), color-stop(5%, #eff1ee), color-stop(15%, #ffffff), color-stop(85%, #ffffff), color-stop(95%, #eff1ee), to(#eff1ee));
  background: -o-linear-gradient(bottom, #eff1ee 0%, #eff1ee 5%, #ffffff 15%, #ffffff 85%, #eff1ee 95%, #eff1ee 100%);
  background: linear-gradient(0deg, #eff1ee 0%, #eff1ee 5%, #ffffff 15%, #ffffff 85%, #eff1ee 95%, #eff1ee 100%);
}
.screen-transaction .info-profile .right-part .jq-selectbox__dropdown li {
  position: relative;
  background: #eff1ee;
  background: -webkit-gradient(linear, left bottom, left top, from(#eff1ee), color-stop(5%, #eff1ee), color-stop(15%, #ffffff), color-stop(85%, #ffffff), color-stop(95%, #eff1ee), to(#eff1ee));
  background: -o-linear-gradient(bottom, #eff1ee 0%, #eff1ee 5%, #ffffff 15%, #ffffff 85%, #eff1ee 95%, #eff1ee 100%);
  background: linear-gradient(0deg, #eff1ee 0%, #eff1ee 5%, #ffffff 15%, #ffffff 85%, #eff1ee 95%, #eff1ee 100%);
}
.screen-transaction .info-profile .right-part .jq-selectbox__dropdown li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -2px;
  width: 103%;
  height: 2px;
  background: url("./img/ui/select_underline.png");
  background-size: contain;
}
.screen-transaction .wrap-main .tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
  margin-bottom: 5px;
}
.screen-transaction .wrap-main .tabs .tab-link {
  width: -webkit-calc(100% / 3);
  width: calc(100% / 3);
  text-align: center;
}
.screen-transaction .wrap-main .tabs .tab-send label,
.screen-transaction .wrap-main .tabs .tab-transaction label,
.screen-transaction .wrap-main .tabs .tab-issue label {
  width: 100%;
  text-align: center;
  border: 2px solid transparent;
  display: block;
  position: relative;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #81827F;
  margin-bottom: 25px;
  cursor: pointer;
}
.screen-transaction .wrap-main .tabs .tab-send label input,
.screen-transaction .wrap-main .tabs .tab-transaction label input,
.screen-transaction .wrap-main .tabs .tab-issue label input {
  color: #81827F;
  font-size: 10px;
  display: block;
  height: 40px;
  width: 100%;
  background: url('./img/ui/form_296_40.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0 16px;
}
.screen-transaction .wrap-main .tabs .tab-send label input.valid,
.screen-transaction .wrap-main .tabs .tab-transaction label input.valid,
.screen-transaction .wrap-main .tabs .tab-issue label input.valid,
.screen-transaction .wrap-main .tabs .tab-send label input:active,
.screen-transaction .wrap-main .tabs .tab-transaction label input:active,
.screen-transaction .wrap-main .tabs .tab-issue label input:active,
.screen-transaction .wrap-main .tabs .tab-send label input:focus,
.screen-transaction .wrap-main .tabs .tab-transaction label input:focus,
.screen-transaction .wrap-main .tabs .tab-issue label input:focus {
  background: url('./img/ui/form_296_40-1.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.screen-transaction .wrap-main .tabs .tab-send label strong,
.screen-transaction .wrap-main .tabs .tab-transaction label strong,
.screen-transaction .wrap-main .tabs .tab-issue label strong {
  text-align: left;
}
.screen-transaction .wrap-main .tabs .tab-send p input[type='submit'],
.screen-transaction .wrap-main .tabs .tab-transaction p input[type='submit'],
.screen-transaction .wrap-main .tabs .tab-issue p input[type='submit'] {
  background: url('./img/ui/btn_160_40_green.png');
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  max-width: 160px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 14px;
  padding: 0;
  height: 40px;
  width: 100%;
  cursor: pointer;
}
.screen-transaction .wrap-main .tabs .tab-send p input[type='submit']:active,
.screen-transaction .wrap-main .tabs .tab-transaction p input[type='submit']:active,
.screen-transaction .wrap-main .tabs .tab-issue p input[type='submit']:active {
  background: url('./img/ui/btn_160_40_dark_green.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.screen-transaction .wrap-main .tabs .tab-send p input[type='submit']:disabled,
.screen-transaction .wrap-main .tabs .tab-transaction p input[type='submit']:disabled,
.screen-transaction .wrap-main .tabs .tab-issue p input[type='submit']:disabled {
  background: url('./img/ui/btn_160_40_light_green.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.screen-transaction .wrap-main .tabs .tab-send label:after,
.screen-transaction .wrap-main .tabs .tab-transaction label:after,
.screen-transaction .wrap-main .tabs .tab-issue label:after {
  content: "";
  position: absolute;
  display: block;
  background-image: url(./img/ui/tab_line_grey.png);
  background-size: contain;
  background-repeat: no-repeat;
  bottom: -5px;
  width: 100%;
  max-width: 100%;
  left: 0;
  height: 2px;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info,
.screen-transaction .wrap-main .tabs .tab-transaction .more-info,
.screen-transaction .wrap-main .tabs .tab-issue .more-info {
  width: 100%;
  position: absolute;
  left: 0;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info h5,
.screen-transaction .wrap-main .tabs .tab-transaction .more-info h5,
.screen-transaction .wrap-main .tabs .tab-issue .more-info h5 {
  color: #D0AD52;
  margin-bottom: 9px;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info,
.screen-transaction .wrap-main .tabs .tab-transaction .more-info,
.screen-transaction .wrap-main .tabs .tab-issue .more-info,
.screen-transaction .wrap-main .tabs .tab-send input,
.screen-transaction .wrap-main .tabs .tab-transaction input,
.screen-transaction .wrap-main .tabs .tab-issue input {
  display: none;
}
.screen-transaction .wrap-main .tabs .tab-send input:checked + label,
.screen-transaction .wrap-main .tabs .tab-transaction input:checked + label,
.screen-transaction .wrap-main .tabs .tab-issue input:checked + label {
  color: #8FB23E;
}
.screen-transaction .wrap-main .tabs .tab-send input:checked + label:after,
.screen-transaction .wrap-main .tabs .tab-transaction input:checked + label:after,
.screen-transaction .wrap-main .tabs .tab-issue input:checked + label:after {
  background-image: url(./img/ui/tab_line_green.png);
}
.screen-transaction .wrap-main .tabs .tab-send input:checked + label + .more-info,
.screen-transaction .wrap-main .tabs .tab-transaction input:checked + label + .more-info,
.screen-transaction .wrap-main .tabs .tab-issue input:checked + label + .more-info {
  display: block;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-transaction .transaction-block,
.screen-transaction .wrap-main .tabs .tab-transaction .more-info-transaction .transaction-block,
.screen-transaction .wrap-main .tabs .tab-issue .more-info-transaction .transaction-block {
  padding: 16px;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-transaction .transaction-block .bage,
.screen-transaction .wrap-main .tabs .tab-transaction .more-info-transaction .transaction-block .bage,
.screen-transaction .wrap-main .tabs .tab-issue .more-info-transaction .transaction-block .bage {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #81827F;
  text-align: left;
  position: relative;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-transaction .transaction-block .bage:after,
.screen-transaction .wrap-main .tabs .tab-transaction .more-info-transaction .transaction-block .bage:after,
.screen-transaction .wrap-main .tabs .tab-issue .more-info-transaction .transaction-block .bage:after {
  content: '';
  display: block;
  background: url(./img/ui/line_296_2.png);
  width: 100%;
  background-size: contain;
  height: 2px;
  bottom: -8px;
  position: absolute;
  left: 0;
  max-width: 100%;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-transaction .transaction-block .history-bage,
.screen-transaction .wrap-main .tabs .tab-transaction .more-info-transaction .transaction-block .history-bage,
.screen-transaction .wrap-main .tabs .tab-issue .more-info-transaction .transaction-block .history-bage {
  margin-bottom: 47px;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-transaction .transaction-block .info-note,
.screen-transaction .wrap-main .tabs .tab-transaction .more-info-transaction .transaction-block .info-note,
.screen-transaction .wrap-main .tabs .tab-issue .more-info-transaction .transaction-block .info-note {
  font-size: 12px;
  line-height: 16px;
  color: #81827F;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-transaction .transaction-block .wrap-process,
.screen-transaction .wrap-main .tabs .tab-transaction .more-info-transaction .transaction-block .wrap-process,
.screen-transaction .wrap-main .tabs .tab-issue .more-info-transaction .transaction-block .wrap-process {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-transaction .transaction-block .wrap-process .process-bage,
.screen-transaction .wrap-main .tabs .tab-transaction .more-info-transaction .transaction-block .wrap-process .process-bage,
.screen-transaction .wrap-main .tabs .tab-issue .more-info-transaction .transaction-block .wrap-process .process-bage {
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  color: #81827F;
  margin-top: 0;
  margin-bottom: 7px;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-transaction .transaction-block .wrap-process .process-send,
.screen-transaction .wrap-main .tabs .tab-transaction .more-info-transaction .transaction-block .wrap-process .process-send,
.screen-transaction .wrap-main .tabs .tab-issue .more-info-transaction .transaction-block .wrap-process .process-send {
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  color: #8FB23E;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-transaction .transaction-block .wrap-process .status .process-send,
.screen-transaction .wrap-main .tabs .tab-transaction .more-info-transaction .transaction-block .wrap-process .status .process-send,
.screen-transaction .wrap-main .tabs .tab-issue .more-info-transaction .transaction-block .wrap-process .status .process-send {
  text-align: left;
  margin-bottom: 8px;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-transaction .transaction-block .wrap-process .status .info-popup-conf,
.screen-transaction .wrap-main .tabs .tab-transaction .more-info-transaction .transaction-block .wrap-process .status .info-popup-conf,
.screen-transaction .wrap-main .tabs .tab-issue .more-info-transaction .transaction-block .wrap-process .status .info-popup-conf,
.screen-transaction .wrap-main .tabs .tab-send .more-info-transaction .transaction-block .wrap-process .status .info-popup-sending,
.screen-transaction .wrap-main .tabs .tab-transaction .more-info-transaction .transaction-block .wrap-process .status .info-popup-sending,
.screen-transaction .wrap-main .tabs .tab-issue .more-info-transaction .transaction-block .wrap-process .status .info-popup-sending {
  color: #F3BE35;
  font-size: 10px;
  background: url(./img/ui/bg_88_16_orange.png);
  display: block;
  background-size: contain;
  height: 16px;
  width: 88px;
  line-height: 16px;
  margin-bottom: 25px;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-transaction .transaction-block .wrap-process .status .info-popup-conf,
.screen-transaction .wrap-main .tabs .tab-transaction .more-info-transaction .transaction-block .wrap-process .status .info-popup-conf,
.screen-transaction .wrap-main .tabs .tab-issue .more-info-transaction .transaction-block .wrap-process .status .info-popup-conf {
  background: url(./img/ui/bg_88_16_blue.png);
  background-size: contain;
  color: #6AAFCD;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-transaction .transaction-block .wrap-process .details .process-bage,
.screen-transaction .wrap-main .tabs .tab-transaction .more-info-transaction .transaction-block .wrap-process .details .process-bage,
.screen-transaction .wrap-main .tabs .tab-issue .more-info-transaction .transaction-block .wrap-process .details .process-bage {
  text-align: right;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-transaction .transaction-block .wrap-process .details .process-send,
.screen-transaction .wrap-main .tabs .tab-transaction .more-info-transaction .transaction-block .wrap-process .details .process-send,
.screen-transaction .wrap-main .tabs .tab-issue .more-info-transaction .transaction-block .wrap-process .details .process-send {
  color: #81827F;
}
.screen-transaction .wrap-main .tabs .tab-issue label {
  margin-bottom: 10px;
}
.screen-transaction .wrap-main .tabs .tab-issue label .error {
  display: none;
}
.screen-transaction .wrap-main .tabs .tab-issue label + p {
  margin-top: 0;
}
.screen-transaction .wrap-main .tabs .tab-issue label:after {
  display: none;
}
.screen-transaction .wrap-main .tabs .tab-issue label[for="tab-issue"]:after {
  display: block;
}
.screen-transaction .wrap-main .tabs .tab-issue form {
  max-width: 100%;
  padding: 15px;
}
.screen-transaction .wrap-main .tabs .tab-issue form input {
  display: block;
  height: 40px;
  width: 100%;
  background: url('./img/ui/form_296_40.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 16px;
  color: #81827F;
  font-weight: 600;
  font-size: 10px;
}
.screen-transaction .wrap-main .tabs .tab-issue form input[type='submit'] {
  background: url('./img/ui/btn_160_40_green.png');
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  max-width: 160px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 14px;
  padding: 0;
}
.screen-transaction .wrap-main .tabs .tab-issue form input[type='submit']:active {
  background: url('./img/ui/btn_160_40_dark_green.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.screen-transaction .wrap-main .tabs .tab-issue form input[type='submit']:disabled {
  background: url('./img/ui/btn_160_40_light_green.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.screen-transaction .wrap-main .tabs .tab-issue form textarea {
  border: 0;
  resize: none;
  width: 100%;
  height: 72px;
  background: url('./img/ui/textarea.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 12px 16px;
  color: #81827F;
  font-size: 10px;
  font-weight: 600;
}
.screen-transaction .wrap-main .tabs .tab-issue form textarea.valid,
.screen-transaction .wrap-main .tabs .tab-issue form textarea:focus,
.screen-transaction .wrap-main .tabs .tab-issue form textarea:active {
  background: url('./img/ui/textarea-green.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.screen-transaction .wrap-main .tabs .tab-issue form input.wrong {
  background: url('./img/ui/wrong-field.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.screen-transaction .wrap-main .tabs .tab-issue form input.wrong + .error,
.screen-transaction .wrap-main .tabs .tab-issue form textarea.wrong + .error {
  display: block;
  color: #E17373;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  margin: 4px 0 0 0;
  position: absolute;
  right: 0;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-send form {
  max-width: 100%;
  padding: 15px;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-send form label {
  margin-bottom: 20px;
  position: relative;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-send form label .max-button {
  position: absolute;
  right: 8px;
  top: 26px;
  width: 64px;
  height: 24px;
  background: url('./img/ui/btn_64_24_green.png');
  background-size: contain;
  color: #fff;
  font-weight: bold;
  font-size: 10px;
  display: block;
  line-height: 24px;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-send form label .max-button:active {
  background: url('./img/ui/btn_64_24_dark_green.png');
  background-size: contain;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-send form label .max-button:disabled {
  background: url('./img/ui/btn_64_24_light_green.png');
  background-size: contain;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-send form label:last-of-type {
  margin-bottom: 40px;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-send form label:after {
  display: none;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-send form p input {
  display: block;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-send form .select-field {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-send form .select-field select {
  color: #81827F;
  font-weight: bold;
  font-size: 14px;
  background: #fff;
  border: 0;
  padding: 3px 10px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: none;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-send form .select-field select option {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #81827F;
  font-weight: bold;
  font-size: 14px;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-send form .select-field .jq-selectbox:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: url("./img/ui/select_underline-big.png");
  background-size: contain;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-send form .select-field .jq-selectbox {
  max-width: 185px;
  width: 100%;
  text-align: left;
  position: relative;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-send form .select-field .jq-selectbox .jq-selectbox__select {
  border-radius: 0;
  background: transparent;
  border: 0;
  text-shadow: none;
  font-family: 'Nunito', sans-serif;
  padding: 0 20px 0 10px;
  height: 25px;
  line-height: 25px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-send form .select-field .jq-selectbox .jq-selectbox__select .jq-selectbox__select-text {
  font-weight: bold;
  font-size: 14px;
  color: #81827F;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-send form .select-field .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger {
  border: 0;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-send form .select-field .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
  background: url("./img/ui/select-arrow-g.png");
  background-size: contain;
  width: 14px;
  height: 8px;
  top: 9px;
  border: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-send form .select-field .jq-selectbox.opened .jq-selectbox__select {
  background: #fff;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-send form .select-field .jq-selectbox.opened .jq-selectbox__select .jq-selectbox__select-text {
  color: #81827F;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-send form .select-field .jq-selectbox.opened .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
  background: url("./img/ui/select-arrow-g.png");
  background-size: contain;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-send form .select-field .jq-selectbox__dropdown {
  border-radius: 0;
  font-family: 'Nunito', sans-serif;
  top: 24px;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-send form .select-field .jq-selectbox__dropdown li,
.screen-transaction .wrap-main .tabs .tab-send .more-info-send form .select-field .jq-selectbox__dropdown li:hover {
  background: #fff;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #81827F;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-send form .select-field .jq-selectbox__dropdown li {
  position: relative;
}
.screen-transaction .wrap-main .tabs .tab-send .more-info-send form .select-field .jq-selectbox__dropdown li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: url("./img/ui/select_underline-big.png");
  background-size: contain;
}
.screen-transaction:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(./img/ui/bg.png);
  background-size: contain;
  top: 145px;
  background-repeat: no-repeat;
  width: 100%;
  z-index: -2;
  display: block;
}
.screen.welcome .img-wrap {
  margin: 40px auto 24px;
  max-width: 93px !important;
}
.screen.welcome .img-wrap img {
  max-width: 93px !important;
}
.screen.welcome .note {
  margin-bottom: 50px;
}
.screen.welcome .enter-name {
  text-align: center;
  color: #63665C;
  font-size: 20px;
  margin-bottom: 30px;
}
.screen.welcome .enter-pass input[type="password"] {
  background: url(./img/ui/form_inactive.png);
  background-size: contain;
  height: 40px;
  width: 100%;
  padding-left: 16px;
  margin-bottom: 25px;
}
.screen.welcome .enter-pass input[type="password"].wrong {
  background: url(./img/ui/form_wrong.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.screen.welcome .enter-pass input[type="password"]:focus,
.screen.welcome .enter-pass input[type="password"].valid {
  background: url(./img/ui/form_active.png);
  background-size: contain;
}
.screen.welcome .select-name {
  max-width: 232px;
  width: 100%;
  margin: 0 auto 32px;
}
.screen.welcome .select-name select {
  color: #81827F;
  font-weight: bold;
  font-size: 14px;
  background: #fff;
  border: 0;
  padding: 3px 10px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: none;
}
.screen.welcome .select-name select option {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #81827F;
  font-weight: bold;
  font-size: 14px;
}
.screen.welcome .select-name .jq-selectbox:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: url("./img/ui/select-line.png");
  background-size: contain;
}
.screen.welcome .select-name .jq-selectbox {
  max-width: 100%;
  width: 100%;
  text-align: left;
  position: relative;
}
.screen.welcome .select-name .jq-selectbox .jq-selectbox__select {
  border-radius: 0;
  background: transparent;
  border: 0;
  text-shadow: none;
  font-family: 'Nunito', sans-serif;
  padding: 0 20px 0 10px;
  height: 25px;
  line-height: 25px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.screen.welcome .select-name .jq-selectbox .jq-selectbox__select .jq-selectbox__select-text {
  font-weight: normal;
  font-size: 12px;
  color: #81827F;
  width: 96% !important;
}
.screen.welcome .select-name .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger {
  border: 0;
}
.screen.welcome .select-name .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
  background: url("./img/ui/select-arrow-g.png");
  background-size: contain;
  width: 14px;
  height: 8px;
  top: 9px;
  border: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.screen.welcome .select-name .jq-selectbox .jq-selectbox__trigger {
  top: -5px;
  right: 5px;
  width: 24px;
  height: 100%;
}
.screen.welcome .select-name .jq-selectbox .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
  background: url("./img/ui/select-arrow-g.png");
  background-size: contain;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  right: 5px;
}
.screen.welcome .select-name .jq-selectbox .jq-selectbox__trigger:hover {
  background: rgba(143, 178, 62, 0.2);
}
.screen.welcome .select-name .jq-selectbox.opened .jq-selectbox__select {
  background: #fff;
}
.screen.welcome .select-name .jq-selectbox.opened .jq-selectbox__select .jq-selectbox__select-text {
  color: #81827F;
  font-size: 12px;
}
.screen.welcome .select-name .jq-selectbox.opened .jq-selectbox__select .jq-selectbox__trigger {
  top: -5px;
  right: 5px;
  width: 24px;
  height: 100%;
  display: none;
}
.screen.welcome .select-name .jq-selectbox.opened .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
  background: url("./img/ui/select-arrow-g.png");
  background-size: contain;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  right: 5px;
}
.screen.welcome .select-name .jq-selectbox__dropdown {
  border-radius: 0;
  font-family: 'Nunito', sans-serif;
  top: 22px !important;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.screen.welcome .select-name .jq-selectbox__dropdown li,
.screen.welcome .select-name .jq-selectbox__dropdown li:hover {
  background: #fff;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #81827F;
}
.screen.welcome .select-name .jq-selectbox__dropdown li {
  position: relative;
}
.screen.welcome .select-name .jq-selectbox__dropdown li:active,
.screen.welcome .select-name .jq-selectbox__dropdown li:hover {
  background: rgba(143, 178, 62, 0.2);
}
.screen.welcome .select-name .jq-selectbox__dropdown li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: url("./img/ui/select-line.png");
  background-size: contain;
}
.screen.welcome .green-button {
  font-size: 14px;
  margin-bottom: 80px;
}
.screen.welcome .green-button:hover,
.screen.welcome .green-button:active {
  background: url(./img/ui/button_big_fill_dark_green.png);
  background-size: contain;
}
.screen.welcome .account-links p {
  text-align: center;
  margin: 0 0 8px 0;
}
.screen.welcome .account-links p a {
  color: #8FB23E;
  font-size: 14px;
}
.screen.welcome .account-links p a img {
  max-width: 24px;
  margin-right: 5px;
  position: relative;
  top: 7px;
}
.screen.welcome .account-links p a:hover {
  color: #759a21;
}
.layer {
  position: fixed;
  z-index: 14;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(143, 178, 62, 0.85);
}
.modal {
  height: 184px;
  max-width: 296px;
  width: 100%;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  background: url(./img/ui/popup2.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 15;
}
.modal .close-modal {
  position: absolute;
  right: 12px;
  top: 12px;
}
.modal .note {
  margin-bottom: 20px;
}
.modal .text-modal {
  color: #81827F;
  font-size: 12px;
  text-align: center;
}
@media screen and (max-width: 350px) {
  .container-p {
    padding: 10px;
  }
  .screen-transaction .info-profile .right-part {
    max-width: 120px;
  }
  .screen-transaction .info-profile {
    padding: 15px 10px 15px 15px;
  }
  .screen-transaction .info-profile .right-part {
    padding-left: 0;
  }
  .screen-transaction:after {
    bottom: -35px;
  }
  .screen-transaction .wrap-main .tabs .tab-send .more-info-send form label .max-button {
    top: 24px;
  }
}
@media screen and (max-width: 330px) {
  .screen-transaction:after {
    background-position: bottom;
    top: 0;
  }
}
